body {
	background-color: #008C15;
}

h3 {
	background-color: #FFC600
;
	color: #008C15;
	padding: 40px;
	text-align: center;
}

p {
	font-size: 20px
}

img {
  padding: 40px;
  max-width: 45%;
  max-height: 45%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  text-align: center;
  font-size: 20px;
  color: #FFC600;
  background-color: #008C15;
}

.mdl-layout__header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
